# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Python profiler
.prof

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# mypy
.mypy_cache/

# Environments
.env
.venv

# Large datasets - exclude raw datasets that are too big
datasets/anomaly_detection/creditcard.csv
datasets/association/groceries.csv
datasets/classification/diabetes.csv
datasets/classification/iris.csv
datasets/classification/titanic.csv
datasets/clustering/Mall_Customers.csv
datasets/clustering/wholesale_customers.csv
datasets/regression/auto_mpg.data
datasets/regression/boston_housing.csv

# You can add other large files or directories you want to exclude below
# e.g.
# data/
# *.h5
# *.ckpt
